<mat-toolbar>
  <span>
    Yabba-tabba-do!
  </span>
  <div fxFlex=""></div>
  <button mat-icon-button matTooltip="Sign out.">
    <mat-icon (click)="signOut()">logout</mat-icon>
  </button>
</mat-toolbar>
<mat-nav-list>
  <mat-list-item *ngFor="let todo of todos | async"
                 routerLink="/todo/{{todo.$key}}">
    {{ todo.name !== '' ? todo.name : 'Untitled' }}
  </mat-list-item>
</mat-nav-list>
<button class="add-todo-button" mat-fab>
  <mat-icon (click)="addTodo()">add</mat-icon>
</button>
